<div class="b-order__row">
  <div class="b-order__place">{{order.vendor.title}}
    {{#if order.active}}
        <svg class="svg-open-lock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 320">
            <path d="M160 103.695c-18.802 0-36.46 5.146-51.73 14.14V64.523C108.27 39.973 126.293 20 148.45 20h23.098c22.157 0 40.183 19.973 40.183 44.523 0 5.522 4.478 10 10 10s10-4.478 10-10C231.73 28.945 204.733 0 171.55 0h-23.1C115.267 0 88.27 28.945 88.27 64.523v68.59c-20.308 19.74-33.01 47.732-33.01 78.734C55.257 271.483 102.244 320 160 320s104.742-48.517 104.742-108.152S217.755 103.695 160 103.695zM160 300c-46.727 0-84.742-39.545-84.742-88.152s38.016-88.152 84.742-88.152 84.742 39.545 84.742 88.152S206.727 300 160 300z"/><path d="M189.504 195.563c0-16.273-13.235-29.513-29.505-29.513s-29.504 13.24-29.504 29.513c0 8.318 3.452 16.06 9.343 21.557l-7.076 31.73c-.16.714-.24 1.443-.24 2.176 0 8.667 8.49 15.202 19.745 15.202h15.466c11.254 0 19.74-6.535 19.74-15.202 0-.732-.08-1.462-.24-2.177l-7.076-31.73c5.89-5.498 9.344-13.24 9.344-21.557zm-35.664 50.664l6.16-27.622 6.16 27.622h-12.32zm10.52-42.213c-1.944 1.01-3.443 2.59-4.36 4.455-.92-1.865-2.418-3.446-4.362-4.456-3.17-1.647-5.142-4.886-5.142-8.45 0-5.246 4.263-9.514 9.503-9.514s9.504 4.268 9.504 9.513c0 3.564-1.97 6.802-5.144 8.45z"/>
        </svg>
    {{else}}
        <svg class="svg-close-lock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 320">
            <path d="M231.73 133.115V64.523C231.73 28.945 204.734 0 171.55 0h-23.1C115.267 0 88.27 28.945 88.27 64.523v68.59c-20.308 19.74-33.01 47.732-33.01 78.734C55.257 271.483 102.244 320 160 320s104.742-48.517 104.742-108.152c0-31.002-12.702-58.995-33.01-78.733zm-123.46-15.31v-53.28C108.27 39.972 126.293 20 148.45 20h23.098c22.157 0 40.183 19.974 40.183 44.524v53.28c-2.73-1.6-5.528-3.063-8.38-4.402-.102-.048-.203-.1-.305-.147-.4-.186-.8-.363-1.202-.544-.596-.268-1.195-.533-1.796-.79l-.846-.36c-.89-.372-1.787-.733-2.69-1.08-.02-.01-.04-.017-.058-.024-9.23-3.55-19.073-5.79-29.314-6.504-.237-.017-.474-.032-.71-.047-.82-.052-1.644-.093-2.47-.125-.27-.01-.54-.024-.813-.032-1.047-.032-2.095-.053-3.148-.053s-2.1.02-3.147.053c-.272.008-.543.02-.814.032-.824.032-1.647.073-2.467.125-.237.015-.474.03-.71.047-10.242.715-20.084 2.954-29.315 6.504l-.06.023c-.902.347-1.798.708-2.688 1.08-.283.12-.564.238-.846.36-.602.257-1.2.522-1.796.79-.4.18-.803.36-1.202.545-.102.048-.203.1-.305.147-2.853 1.338-5.652 2.8-8.38 4.402zM160 300c-46.727 0-84.742-39.545-84.742-88.152 0-32.953 17.476-61.736 43.29-76.86.402-.235.802-.473 1.207-.7.442-.25.888-.492 1.335-.734.784-.422 1.572-.836 2.368-1.232.252-.126.507-.247.76-.37 8.832-4.28 18.343-6.968 28.12-7.892l.257-.024c1.158-.106 2.32-.187 3.484-.243l.406-.016c1.17-.05 2.34-.082 3.515-.082s2.347.03 3.516.082l.407.016c1.165.056 2.326.137 3.484.243l.257.024c9.777.924 19.288 3.613 28.12 7.892.253.123.508.244.76.37.796.396 1.583.81 2.368 1.232.447.24.893.484 1.335.734.405.227.806.465 1.207.7 25.814 15.124 43.29 43.907 43.29 76.86C244.742 260.455 206.727 300 160 300z"/><path d="M189.504 195.563c0-16.273-13.235-29.513-29.505-29.513s-29.504 13.24-29.504 29.513c0 8.318 3.452 16.06 9.343 21.557l-7.076 31.73c-.16.714-.24 1.443-.24 2.176 0 8.667 8.49 15.202 19.745 15.202h15.466c11.254 0 19.74-6.535 19.74-15.202 0-.732-.08-1.462-.24-2.177l-7.076-31.73c5.89-5.498 9.344-13.24 9.344-21.557zm-35.664 50.664l6.16-27.622 6.16 27.622h-12.32zm10.52-42.213c-1.944 1.01-3.443 2.59-4.36 4.455-.92-1.865-2.418-3.446-4.362-4.456-3.17-1.647-5.142-4.886-5.142-8.45 0-5.246 4.263-9.514 9.503-9.514s9.504 4.268 9.504 9.513c0 3.564-1.97 6.802-5.144 8.45z"/>
        </svg>
    {{/if}}
  </div>
  <time class="b-order__time">{{order.time}}</time>
</div>

<div class="b-order__row">
  <div class="b-order__manager b-person">
    <div class="b-person__name">
      {{order.manager.displayName}}/{{order.location}}
    </div>
  </div>
  <div class="b-order__money b-order-money">
    <span class="b-order-money__available">{{order.money.available}}</span>
    {{#if order.isReady}}
      <span class="b-order-money__total">{{order.money.total}}</span>
    {{else}}
      <span class="b-order-money__total _not-enough"
            title="Минимальная сумма заказа {{order.money.required}}">
        {{order.money.total}}
      </span>
      <div class="b-order-money__note">
        Минимальная сумма заказа {{order.money.required}}
      </div>
    {{/if}}
  </div>
</div>
