<div class="b-order-group__wrapper">
  <div class="b-order-group__row">

    {{#if canDelete}}
      <button {{action 'removeAll'}} class="b-order-group__remove-btn"></button>
    {{else}}
      <button class="b-order-group__remove-btn _disabled"></button>
    {{/if}}
    <div class="b-order-group__person b-person">
      <span class="b-person__name">{{owner.displayName}}</span>
      <span class="b-person__phone">{{owner.phone}}</span>
    </div>
    {{b-checkbox class="b-order-group__checkbox"
                 checked=allPaid disabled=isManager
                 onchange=(action 'toggleAll') }}
  </div>
</div>

<ul class="b-order-group__summary">
  {{#each portions as |portion|}}
    {{b-portion portion=portion isManager=isManager canDelete=canDelete}}
  {{/each}}
</ul>
