<form class="f-default f-checkout">

  <h2 class="f-default__title">Оформление заказа</h2>

  <div class="f-checkout__order-info">
    {{pr-order order=model.order}}
  </div>

  <div class="f-default__row">
    <div class="portion-list">
      {{#each model.portions as |portion|}}
        <div class="portion-list__item">
          <div class="portion-list__row">
            <span class="portion-list__member">Вася</span>
            <span class="portion-list__cost">{{portion.cost}}</span>
            <div class="portion-list__paid">
              <label class="f-default__checkbox-label">
                <input type="checkbox" class="f-default__checkbox"/>
                <span class="f-default__checkbox-text"></span>
              </label>
            </div>
          </div>

          <div class="portion-list__row">
            <div class="list-member__text">{{portion.text}}</div>
          </div>
        </div>
      {{/each}}
    </div>

    <button {{action "submit"}} type="submit" class="button _submit">Сформировать</button>
  </div>

  <div class="f-default__row">
    <textarea class="f-default__textarea" rows="4" required></textarea>
    <button {{action "submit"}} type="submit" class="button _submit">Отправить уведомление</button>
  </div>

</form>
