<form class="form order-form">

  <h2 class="form__title">Добавить заказ</h2>

  <div class="form__row">
    <label class="form__label">
      <span class="form__label-text">Заведение</span>
      {{ember-selectize content=vendors
                        optionValuePath='content.id'
                        optionLabelPath='content.title'
                        select-item='setVendor'
                        placeholder='Выберите заведение' }}
    </label>

    {{#if vendor}}
      <a class="order-form__vendor-link" href="{{vendor.url}}">{{vendor.url}}</a>
      <div class="order-form__vendor-min-cost">{{vendor.minOrderCost}}</div>
    {{/if}}
  </div>

  <div class="form__row">
    <label class="form__label">
      <span class="form__label-text">Место доставки</span>
      {{input value=location class="form__field"}}
    </label>
  </div>

  <div class="form__row">
    <label class="form__label">
      <span class="form__label-text">Время заказа</span>
      {{input value=time class="form__field"}}
    </label>
  </div>

  <button {{action "submit"}} type="submit" class="button button_submit">Создать</button>
</form>
