<form class="form order-form">
  <div class="form__row">
    <label class="form__label">
      <span class="form__label-text"></span>
      {{input value=place class="form__field"}}
    </label>
  </div>

  <div class="form__row">
    <label class="form__label">
      <span class="form__label-text"></span>
      {{input value=manager class="form__field"}}
    </label>
  </div>

  <div class="form__row">
    <label class="form__label">
      <span class="form__label-text"></span>
      {{input value=orderTime class="form__field"}}
    </label>
  </p>

  <div>
    <label class="form__label">
      <span class="form__label-text"></span>
      {{input value=amount class="form__control"}}
    </label>
  </div>

  <button {{action "submit"}} type="submit" class="button button_cta">Добавить заказ</button>
</form>
