{{#link-to 'order' order.id class="pr-order"}}
  <div class="pr-order__row">
    <div class="pr-order__place">{{order.vendor.title}}</div>
    <time class="pr-order__time">{{order.time}}</time>
  </div>
  <div class="pr-order__row">
    <div class="pr-order__manager b-person">
      <div class="b-person__name">
        {{order.manager.displayName}}/{{order.location}}
      </div>
    </div>
    <div class="pr-order__money b-order-money">
      <span class="b-order-money__available">{{order.money.available}}</span>
      {{#if order.isReady}}
        <span class="b-order-money__total">{{order.money.total}}</span>
      {{else}}
        <span class="b-order-money__total _not-enough"
              title="Минимальная сумма заказа {{order.money.required}}">
          {{order.money.total}}
        </span>
      {{/if}}
    </div>
  </div>
{{/link-to}}
