<form class="form register-form">

  <h2 class="form__title">Регистрация</h2>

  <div class="form__row">
    <label class="form__label">
      <span class="form__label-text">Имя</span>
      {{input value=name class="form__field"}}
    </label>
  </div>

  <div class="form__row">
    <label class="form__label">
      <span class="form__label-text">* Почта</span>
      {{input value=email class="form__field"}}
    </label>
  </div>

  <div class="form__row">
    <label class="form__label">
      <span class="form__label-text">* Пароль</span>
      {{input value=password class="form__field"}}
    </label>
  </div>

  <div class="form__row">
    <label class="form__label">
      <span class="form__label-text">Телефон</span>
      {{input value=phone class="form__field"}}
    </label>
  </div>

  <button {{action "submit"}} type="submit" class="button button_submit">Отправить</button>
</form>
